<!DOCTYPE html>
<html lang="cz" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Co budeme vařit? Kuchařská ruleta</title>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ messages.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

</head>
<body>
<h1>Kuchařská ruleta</h1>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                      <a class="nav-item nav-link" href="/">Domov</a>
                      <a class="nav-item nav-link" href="/about">O téhle stránce</a>
                </div>
        <!-- Navigation bar Right Side -->
                <div class="navbar-nav">
                    {% if request.user.is_authenticated %}
                        <a class="nav-item nav-link" href="{% url 'logout' %}">Odhlášení</a>
                    {% else %}
                        <a class="nav-item nav-link" href="{% url 'login' %}">Přihlášení</a>
                        <a class="nav-item nav-link" href="{% url 'register' %}">Registrace</a>
                    {% endif %}
                </div>
                </div>
            </div>
        </nav>
    </header>
<p>
<a href="roulette/">Spust ruletu - vylosuj jidlo</a>
</p>

<form action="upload/" method="post">
    {% csrf_token %}
    <input type="submit" value="Upload All Receipts">
    <br>
    Nacteni zakladni DB receptu <br>
    <br>
    <br>
</form>

<form action="del_all/" method="post">
    {% csrf_token %}
    <input type="submit" value="Smaz vse">
    <br>
    Smazani vsech receptu <br>
    <br>
    <br>
</form>

<table>
{% for x in myreceipts %}
<tr>
    <td>{{ x.rec_title }}</td>
    <td>{{ x.author }}</td>
    <td>{{ x.rating }}</td>
</tr>
{% endfor %}
</table>

</body>
</html>