.nadpis {
        text-align: center;
        font-size: 25px;
        color: #1d578c;
}
.centerOBR {
    position: 10%;
    margin: 10px;
    padding: 0px;

    text-align: center;
}
.buttonSpustRuletu {
    background-color: #4fbd21;

    width: 350px;

    margin: 10px;
    font-size: 30px;
    border: solid #4fbd21;
    border-radius: 5px;

    position: relative;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    cursor: pointer;
    text-decoration: none;
}
.buttonUkazRecepty {
    text-align: center;
    background-color: buttonface;
    color: grey;
    width: 250px;
    height: 50px;

    margin: 10px;
    padding: 10px;
    border: solid;
    border-radius: 5px;

    position: relative;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    cursor: pointer;
}
.buttonSmazRecepty {
    background-color: buttonface;            /* TOTO: #e7dcda */
    color: grey;                      /* TOTO: #e7dcda */
    width: 250px;
    height: 50px;

    margin: 10px;
    border: solid;
    border-radius: 5px;

    position: relative;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    cursor: pointer;
}
.spust {
    display: block;
    padding: 20px 25px;                             /*umoznuje kliknut a prepojit odkaz na celej ploche tlacitka*/
    text-decoration: none;                          /*zmazuje podcirknutie textu*/
}

.centerTabulka {
    border-collapse: collapse;
    padding: 0% 10%;
}
.centerTabulka th {
    background-color: #4a90e2;
    color: black;
    border: 1px solid;
}
.centerTabulka td {
    background-color: #cfe2f3;
    color: black;
    border: 1px solid;
}


#suroviny {
    margin: 0% 10%;
    width: 40%;
    border-collapse: collapse;
}
#suroviny th {
    background-color: #4a90e2;
    color: black;
    border: 1px solid;
}
#suroviny td {
    background-color: #cfe2f3;
    color: black;
    border: 1px solid;
}

#popis {
    padding-left: 10%;
}

