<!DOCTYPE html>
<html lang="cz">
<head>
    <meta charset="UTF-8">
    <title>{% block page_title1 %}       {% endblock page_title1 %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"> -->
    <style>body {background-color: #e5fff9;}</style>


</head>

<body>
{% block context1 %}
<!--    <div class="nadpis">
        <h1 style="margin: 3px;">Kuchařská ruleta</h1>
    </div>
    <div class="centerOBR">
        <img src="https://www.sazeni-online.eu/images/blog/ca0a4d2799ace80811fdefb3e7400057.jpg" alt="Ruleta s jídlem"
             width="600"
             height="250">
        src="{% static 'cooking/static/fruit_orange.jpg' %}" alt="WHY?!">
    </div>  -->
{% endblock context1 %}
</body>
</html>





