{% extends "base.html" %}

{% block page_title %}Přihlásení{% endblock page_title %}

{% block PageTitle %}


{% block content %}
<div class="log">
    <h3 style="opacity:0">blind-none</h3>
    <div style="margin: 0px 10px 10px 10px; " class="nadpis">
        <h1><a style="margin-top: 10%; text-decoration:none; color: #142685; " href="{% url 'homepage' %}">Kuchařská
            ruleta</a>
        </h1>
    </div>


    <div style="padding: 0% 25%; " id="popis">
        <h3 style="opacity:0">blind-none</h3>
        <h5>Byli jste úspešne odhlášeni.</h5>
        <a style="color: #4fbd21;" href="{% url 'login' %}"><strong>Přihlas se</strong></a>
    </div>
    <h3 style="opacity:0">blind-none</h3>
    <h3 style="opacity:0">blind-none</h3>
    <h3 style="opacity:0">blind-none</h3>
    <h3 style="opacity:0">blind-none</h3>
    <h3 style="opacity:0">blind-none</h3>
    <h3 style="opacity:0">blind-none</h3>
    <h3 style="opacity:0">blind-none</h3>
    <h3 style="opacity:0">blind-none</h3>
    <h3 style="opacity:0">blind-none</h3>
    <h3 style="opacity:0">blind-none</h3>
    <h3 style="opacity:0">blind-none</h3>
    <h3 style="opacity:0">blind-none</h3>
    <h3 style="opacity:0">blind-none</h3>
    <h3 style="opacity:0; margin:0px; ">blind-none</h3>
</div>
{% endblock content %}

{% endblock PageTitle %}