{% extends "base.html" %}

{% block page_title %}Admininstrátor{% endblock page_title %}

{% block head %}
<div style="margin: 0px 10px 10px 10px;" class="nadpis">
    <h1>
        <a style="margin: 0px; text-decoration:none; color: #142685; " href="{% url 'homepage' %}">
            Kuchařská ruleta
        </a>
    </h1>
</div>
{% endblock head %}

{% load crispy_forms_tags %}

    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" width="64px" height="64px">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile</legend>
                 {{ u_form|crispy }}
                 {{ p_form|crispy }}

            </fieldset>
            <div class="form-group">
                <button class="x" type="submit">Upravit</button>
            </div>
        </form>
    </div>

{% endblock content %}
