{% extends "base.html" %}

{% block page_title %}Admininstrátor{% endblock page_title %}

{% block head %}
<div style="margin: 0px 10px 10px 10px;" class="nadpis">
    <h1>
        <a style="margin: 0px; text-decoration:none; color: #142685; " href="{% url 'homepage' %}">
            Kuchařská ruleta
        </a>
    </h1>
</div>
{% endblock head %}

{% block PageTitle %}

<!--<div style="opacity: 0.08;" class="backgroundRest"></div>-->

<div style="padding: 0% 10%; opacity: 0.9 " id="popis">
    <h4>Přidáni receptu</h4>
    <form action="/scrap/" method="post">
        {% csrf_token %}
        <br>
        <h5>1. Vlož URL</h5>
        <input name="url_name">
        <button style="margin-left: 15px; background-color: #4fbd21; "><strong>Stáhni a ulož</strong></button>
        <br>
        <br>
    </form>

    <h5>2. Zadáni nového receptu</h5>
    <form action="/add_receipt_form/" method="post">
        {% csrf_token %}
        <tr>
            <td>Název:</td>
            <td><input name="recepis"></td>
            <td>Autor:</td>
            <td><input name="autor"></td>
            <td>Hodnocení:</td>
            <td><input name="ratex"></td>
            <td>
                <button style="margin-left: 15px; background-color: #4fbd21; "><strong>Ulož a zadej ingredience</strong>
                </button>
            </td>
        </tr>
    </form>
    <br>
    <section>

        <div class="topnav">
        <input type="text" placeholder="Vyhledej recept...">
        </div>


    </section>
    <!--    <br>-->
    <!--    <section style="display: flex; text-align: center;  ">-->
    <!--        <form style="flex:50%; "  action="/del_all/" method="post">-->
    <!--            {% csrf_token %}-->
    <!--            <button class="button2"-->
    <!--                    type="submit">Smaž všechny recepty      &lt;!&ndash;<i> * Smaže všechny recepty</i>&ndash;&gt;-->
    <!--            </button>-->
    <!--        </form>-->
    <!--        <form style="flex:50%; "  action="/upload/" method="post">-->
    <!--            {% csrf_token %}-->
    <!--            <button class="button1"-->
    <!--                    type="submit">Načti všechny recepty  &lt;!&ndash;<i> * Načte základní DB receptů</i>&ndash;&gt;-->
    <!--            </button>-->
    <!--        </form>-->
    <!--    </section>-->
</div>
<br>

<div style="align:center; color: black; opacity: 0.9; padding: 0% 10%;" id="centerTabulka">
    <table>
        <tr>
            <th style="width:40%; ">Název receptu</th>
            <th style="width:20%; text-align:center">Autor</th>
            <th style="width:20%; text-align:center">Hodnocení</th>
            <th style="width:20%; text-align:center">Smazáni</th>
        </tr>
        {% for x in myreceipts %}
        <tr>
            <td style="color:black ;"><a style="color:black;" href="/update_rec/{{ x.id }}">{{ x.rec_title }}</a></td>
            <td style="text-align:center">{{ x.author }}</td>
            <td style="text-align:center">{{ x.rating }}</td>
            <td style="text-align:center"><a style="color:red;" href="/delete_rec/{{ x.id }}">Smazat</a></td>
        </tr>
        {% endfor %}
    </table>

</div>
{% endblock PageTitle %}