{% extends "base.html" %}

{% block page_title %}Kuchařská ruleta{% endblock page_title %}
{% block head %}        {% endblock head %}

{% block PageTitle %}

<div id="popis">
    <h2 style="margin: 15px 0px;">Název receptu: {{ receipt.rec_title }}</h2>
    <h3 style="margin: 5px 0px;">Autor: {{ receipt.author }}</h3>
    <h3 style="margin-bottom: 40px;">Hodnocení: {{ receipt.rating }}</h3>
    <h3>Co potřebujeme:</h3>
</div>
<section style="display: flex;">
    <table style="flex: 40%;" id="suroviny">
        <tr>
            <th width="50%"> název ingredience</th>
            <th width="30%">množství</th>
            <th width="20%">jednotka</th>
        </tr>
        {% for x in ingr %}
        <tr>
            <td>{{ x.ingr_name }}</td>
            <td align="center">{{ x.quantity }}</td>
            <td align="center">{{ x.unit }}</td>
        </tr>
        {% endfor %}
    </table>
   <img style="flex: 60%; text-align: center; margin: 50px 50px 50px 50px; "
        src="https://ms1.ostium.cz/instance/web-recepty/j4LPW7QI/h389w574t.jpg" alt="obrázek receptu">
</section>
<br>
<!--style="padding-left:10%; padding-right:10%"-->
<div class="odsadenie">
    <h3 style="padding-left:10%; padding-right:10%">Postup: </h3>
    <div style="padding-left:10%; padding-right:10%; padding-bottom:150px;">{{ receipt.process }}</div>
</div>

{% endblock PageTitle %}