{% extends "base.html" %}

{% block page_title %}Admininstrátor{% endblock page_title %}


{% block head %}

{% endblock head %}

{% block PageTitle %}
<div class="backgroundMain">
    <h3 style="opacity:0">blind-none</h3>
    <div style="margin: 0px 10px 10px 10px;" class="nadpis">
        <h1>
            <a style="margin: 0px; text-decoration:none; color: #142685; " href="{% url 'homepage' %}">Kuchařská ruleta</a>
        </h1>
    </div>

    <div>
        <br>
        <div style="padding: 0% 25%; opacity: 0.9; " id="popis">
            <h4>Úprava receptu</h4>
            <br>
            <form action="/update_rec_form/{{ upd_.id }}" method="post">
                {% csrf_token %}
                <td>Název receptu</td>
                <td><input  style="margin-left: 65px; " class="FieldColor" name="rec_t" value="{{ upd_.rec_title }}"></td><br><br>
                <td>Autor</td>
                <td><input  style="margin-left: 128px; " class="FieldColor" name="rec_a" value="{{ upd_.author }}"></td><br><br>
                <td>Hodnocení</td>
                <td><input  style="margin-left: 90px; " class="FieldColor" name="rec_a" value="{{ upd_.rating }}"></td><br><br>
                <td><button style="margin-left: 10px; background-color: #4fbd21; "><strong>Ulož</strong>
                </button></td>
                <br>
            </form>
        </div>
        <br>
                                            <!-- SUROVINY -->
        <div style="align:center; color: black; opacity: 0.9; padding: 0% 25%;" id="centerTabulka">
            <form action="/add_ingredients/{{ upd_.id }}" method="post">
                {% csrf_token %}
                <h5>Suroviny</h5>
                <tr style="width:550px;  ">Název suroviny:</tr>
                <td><input style="margin-left: 46px; " class="FieldColor" name="i_name"></td><br><br>
                <tr style="width:600px; ">Množství:</tr>
                <td><input style="margin-left: 90px; " class="FieldColor" name="i_quant"></td><br><br>
                <td style="width:600px;  ">Jednotka:</td>
                <td><input style="margin-left: 90px; " class="FieldColor" name="i_unit"></td><br><br>
                <td><button style="margin-left: 10px; background-color: #4fbd21; opacity: 0.9"><strong>Přidej</strong>
                    </button></td>
            </form>
            <br>
                                                        <!-- TABUĽKA -->
            <form action="/del_ingredient/{{ upd_.id }}" method="post">
                {% csrf_token %}
                <table>
                    <tr>
                        <th style="width:50%; ">Název receptu</th>
                        <th style="width:30%; text-align:center">Množství</th>
                        <th style="width:20%; text-align:center">Jednotka</th>
                        <th style="width:20%; text-align:center">Smazáni</th>
                    </tr>
                    {% for x in ingr %}
                    <tr>
                        <td>{{ x.ingr_name }}</td>
                        <td style="text-align:center">{{ x.quantity }}</td>
                        <td style="text-align:center">{{ x.unit }}</td>
                        <td style="text-align:center"><a style="color:red;" href="/delete_rec/{{ x.id }}">Smazat</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <br>
                                                            <!-- POSTUP -->
                <h5>Postup</h5>
                <textarea rows="8" cols="100">{{ upd_.process }}</textarea>
            </form>
        </div>
    </div>
        <h3 style="opacity:0; margin:0%; ">blind-none</h3>
    <h3 style="opacity:0; margin:0%; ">blind-none</h3>
</div>
{% endblock PageTitle %}